/* orbitron-regular - latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/orbitron-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/orbitron-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    html{
    box-sizing: border-box;
    }
    *, *::before, *::after{
    box-sizing: inherit;
    }
    
    body{
    background-image: linear-gradient(
    to right,
    #000 0%,
    #000 52.5%,
    #57B8FF 50%,
    #57B8FF 100%
    );
    
    font-family: 'Orbitron';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: white;
    margin: 0;
    }
    
    .wrapper{
    max-width: 1320px;
    margin: 0 auto;
    }
    
    /* style header start */
    
    .header_wrapper{
        padding-top: 20px;
        display: flex;
        max-width: 1320px;
        justify-content: space-between;
    }

    .header_logo{
        display: flex;
    }
    
    .menu_list{
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    
    .menu_item {
        margin-right: 60px;
    }
    
    .menu_link{
        line-height: 26px;
        color: white;
        text-decoration: none;
    }
    
    .menu li a:hover, .menu li a:focus, .menu li a:active{
        color: #FAC422;
    }
    
    .buttons{
        display: flex;
        align-items: center;
    }

    .buy{
        display: flex;
        align-items: center;
    }
    
    
    .amount{
        background-color: #ffffff;
        color: #141820;
        padding: 6px 6px;
        font-size: 11px;
        border-radius: 9px;
        line-height: 8px;
        display: flex;
        margin-bottom: 22px;
    }
    
    .contact{
        margin-left: 20px;
        border: 1px solid #FFFFFF;
        text-decoration: none;
        padding: 16px 31px;
        font-size: 18px;
        display: flex;
    }
    
    .contact a{
        color: #fff;
        text-decoration: none;
    }
    /* style header end */

    /* style intro start */

    .intro{
        height: 100vh;
        background-size: cover;
        padding-top: 210px;
    }
    

    .future{
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #57B8FF;
        text-transform: uppercase;
    }

    .line{
        position: absolute;
        top: 565px;
        left: 515px;
    }
    
    .text{
        height: 0px;
    }
    
    .intro_title{
        margin-top: 24px;
        margin-bottom: 45px;
        max-width: 656px;
        font-weight: 400;
        font-size: 72px;
        line-height: 86px;
    }

    .intro_description{
        max-width: 615px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #999999;
        margin-bottom: 53px;
    }
    
    .hero{
        display: flex;
        justify-content: flex-end;
    }

    .button_1{
        margin-right: 40px;
        background: #57B8FF;
        padding: 21px 34px;
        font-size: 18px;
        display: flex;
    }
    .button_1 a{
        color: #fff;
        text-decoration: none;
    }

    .button_2{
        font-size: 18px;
        display: flex;
    }

    .button_2 a{
        color: #fff;
        text-decoration: none;
    }
    /* style intro end */